/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

/*
    DIFFRENT GENERAL ITEM
 */
:root{
--color-title-text: 333333;
--font-family: sans-serif;
--salmon-color : salmon;
--white-color: white;
}
/*
* CUSTOM FOR THE BUTTON
 */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 16px;
}

.btn-lg {
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-primary {
    color: var(--white-color);
    background-color: #333333;
    border-color: #333333;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: var(--white-color);
    background-color: var(--salmon-color);
    ;
    border-color: var(--salmon-color);
    ;
}

/*
* CUSTOM FOR THE DIFFERENT TITLE
 */



/* Principal title */
h1{
    color: var(--color-title-text);
    font-family: var(--font-family);
    text-align: center;
    margin-bottom: 35px;
    margin-top: 35px;
    font-size: 250%;

}







/*   Part for the mobile  */

@media screen and (min-width: 300px) and (max-width: 767px) {
    h1 {
        font-size: 200%;
    }
}
/*  Tablets part  */
@media screen and (min-width: 767px) and (max-width: 1200px) {
    h1 {
        font-size: 220%;

    }
}

/* Second title */
h2 {
    color: var(--white-color);
    font-family: var(--font-family);
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 140%;
    background-color: #6c757d;
    padding: 10px;
    border-radius: 5px;
}
/*   Part for the mobile  */

@media screen and (min-width: 300px) and (max-width: 767px) {
    h2 {
        font-size: 100%;
    }
}
/*  Tablets part  */
@media screen and (min-width: 767px) and (max-width: 1200px) {
    h2 {
        font-size: 120%;
    }
}

h3 {
    color: var(--color-title-text);
    font-family: var(--font-family);
    font-size: 130%;

}

@media screen and (min-width: 300px) and (max-width: 767px) {
    h3 {
        font-size: 110%;
    }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
    h3 {
        font-size: 130%;
    }
}
h5 {
    font-family: var(--font-family);
    color: var(--white-color);
    background-color: #6c757d;
}
/* warning message*/
.text-error{
    font-size: 12px;
    font-family: var(--font-family);
    color: var(--salmon-color);
}

/* CUSTOM LIST */
.list ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 35px;
}

.list li {
    font: 200 18px/1.5 var(--font-family);
    border-bottom: 1px solid #ccc;
    height: 38px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--color-title-text);
    display: block;

    -webkit-transition: font-size 0.2s ease, background-color 0.2s ease;
    -moz-transition: font-size 0.2s ease, background-color 0.2s ease;
    -o-transition: font-size 0.2s ease, background-color 0.2s ease;
    -ms-transition: font-size 0.2s ease, background-color 0.2s ease;
    transition: font-size 0.2s ease, background-color 0.2s ease;
}

.list li:last-child {
    border: none;
}

.list li:hover {
    font-size: 21px;
    color: var(--salmon-color);
}

.list li a {
    text-decoration: none;
    color: var(--color-title-text);
    display: block;

    -webkit-transition: font-size 0.2s ease, background-color 0.2s ease;
    -moz-transition: font-size 0.2s ease, background-color 0.2s ease;
    -o-transition: font-size 0.2s ease, background-color 0.2s ease;
    -ms-transition: font-size 0.2s ease, background-color 0.2s ease;
    transition: font-size 0.2s ease, background-color 0.2s ease;
}

.list li a:hover {
    font-size: 21px;
    color: var(--salmon-color);
}
















