/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 16px;
}

.btn-lg {
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-primary {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: salmon;
    ;
    border-color: #ffffff;
    ;
}